<!-- TODO this file has become a mess, refactor it -->

{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

{% if page.cover-img or page.title %}

{% if page.cover-img %}
  <div id="header-big-imgs" data-num-img={% if page.cover-img.first %}{{ page.cover-img.size }}{% else %}1{% endif %}
    {% for bigimg in page.cover-img %}
    {% assign imgnum = forloop.index %}
    {% for imginfo in bigimg %}
      {% if imginfo[0] %}
      data-img-src-{{ imgnum }}="{{ imginfo[0] | absolute_url }}"
      data-img-desc-{{ imgnum }}="{{ imginfo[1] }}"
    {% else %}
      data-img-src-{{ imgnum }}="{{ imginfo | absolute_url }}"
    {% endif %}
    {% endfor %}
    {% endfor %}
  ></div>
{% endif %}

<header class="header-section {% if page.cover-img %}has-img{% endif %}">
    <div id="particles-js">
        <script src="../assets/js/particles.js"></script>
    </div>
    
{% if page.cover-img %}
<div class="big-img intro-header">
  <div class="container-md">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
          {% if page.subtitle %}
            {% if include.type == "page" %}
              <hr class="small">
              <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
            {% else %}
              <h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
            {% endif %}
          {% endif %}

          {% if include.type == "post" %}
            <span class="post-meta">Posted on {{ page.date | date: date_format }}</span>
            {% if page.last-updated %}
              <span class="post-meta">
                <span class="d-none d-md-inline middot">&middot;</span>
                Last updated {{ page.last-updated | date: date_format }}
              </span>
            {% endif %}
            {% if page.readtime %}
              {% include readtime.html %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <span class='img-desc'></span>
</div>
{% endif %}
<div class="intro-header no-img">
  <div class="container-md">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
          {% if page.subtitle %}
            {% if include.type == "page" %}
              <hr class="small">
              <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
            {% else %}
              <h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
            {% endif %}
          {% endif %}

          {% if include.type == "post" %}
            <span class="post-meta">Posted on {{ page.date | date: date_format }}</span>
            {% if page.last-updated %}
              <span class="post-meta">
                <span class="d-none d-md-inline middot">&middot;</span>
                Last updated {{ page.last-updated | date: date_format }}
              </span>
            {% endif %}
            {% if page.readtime %}
              {% include readtime.html %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</header>


{% else %}
<div class="intro-header"></div>
{% endif %}


<!-- <header>
    <div class="inner">
        <div class="logo">
            <a href="home.html">
                <img alt="Nvn" data-src="../assets/images/logo.svg" class="ls-is-cached lazyloaded" src="../assets/images/logo.svg">
                <noscript>
                    <img class=lazy src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E" data-src=../assets/images/logo.svg alt=ChemTube3D>
                </noscript>
            </a>
        </div>
        <div class="search">
            <form method="get" id="searchform" action="home.html">
                <input class="s-input" type="text" placeholder="Search.." name="s">
                <button class="s-button" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
        <div class="icons">
            <a href="https://play.google.com/store/apps/details?id=www.chemtube3d.com">
                <i class="fab fa-android"></i>
            </a>
            <a href="https://apps.apple.com/us/app/chemtube3d/id1291952162">
                <i class="fab fa-apple"></i>
            </a>
            <a href="https://twitter.com/chemtube3d">
                <i class="fab fa-twitter"></i>
            </a>
            <div class="mob-search">
                <span class="fa fa-search flip"></span>
            </div>
        </div>
        <div class="cf">
        </div>
    </div>
</header> -->