<nav
  class="navbar navbar-expand-md navbar-light fixed-top navbar-custom {% if page.nav-short %}top-nav-short-permanent{% else %}top-nav-regular{% endif %}">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {%- if site.title-img -%}
  <a class="navbar-brand navbar-brand-logo" href="{{ '' | absolute_url }}"><img alt="{{ site.title }} Logo"
      src="{{ site.title-img | relative_url }}" /></a>
  {%- elsif site.title -%}
  <a class="navbar-brand" href="{{ '' | absolute_url }}">{{ site.title }}</a>
  {%- endif -%}
  <!-- <div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
      <input type="checkbox" id="checkbox" />
      <div class="slider round"></div>
    </label>
    <em>Enable Dark Mode!</em>
  </div> -->
  <div class="collapse navbar-collapse" id="main_nav">
    <ul class="navbar-nav ms-auto navbar-nav-custom">
      {% for nav in site.data.nav %}
      {% if nav.sub != null %}
      <li class="nav-item dropdown" id="myDropdown">
        <a class="nav-link dropdown-toggle {% if page.url == item.link %}current{% endif %}>
    {{ item.name }}" href="{{ site.baseurl }}/{{ nav.href }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-haspopup="false" aria-expanded="false">{{ nav.title }}</a>
        <ul class="dropdown-menu dropdown-menu-right">
          {% for sub in nav.sub %}
          {% if sub.sub2 != null %}
          <li>
            <a class="dropdown-item{% if page.url == item.link %} active{% endif %}" href="{{ site.baseurl }}/{{ nav.href }}/{{ sub.href }}" style="
            white-space: nowrap;
            padding-left: 0px;">
            <span class="fas fa-caret-left"></span> {{ sub.title }}</a>
            <ul class="submenu submenu-left dropdown-menu">
              {% for sub2 in sub.sub2 %}
              {% if sub2.sub3 != null %}
              <li class="dropdown-menu1"><a class="dropdown-item {% if page.url == item.link %}active{% endif %}" href="{{ site.baseurl }}/{{ nav.href }}/{{ sub.href }}/{{ sub2.href }}"><span class="fas fa-caret-left"></span>{{ sub2.title }}</a>
                <ul class="submenu submenu-left dropdown-menu">
                  {% for sub3 in sub2.sub3 %}
                  <li class="dropdown-menu1 {% if page.url == item.link %}current{% endif %}"><a class="dropdown-item" href="{{ site.baseurl }}/{{ nav.href }}/{{ sub.href }}/{{ sub2.href }}/{{ sub3.href }}">{{ sub3.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% else %}
              <li class="dropdown-menu1 {% if page.url == item.link %}active{% endif %}"><a class="dropdown-item" href="{{ site.baseurl }}/{{ nav.href }}/{{ sub.href }}/{{ sub2.href }}">{{ sub2.title }}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li> <a class="dropdown-item {% if page.url == item.link %}active{% endif %}" href="{{ site.baseurl }}/{{ nav.href }}/{{ sub.href }}">{{ sub.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li class="nav-item"> <a class="nav-link {% if page.url == nav.href %}active{% endif %}" href="{{ site.baseurl }}/{{ nav.href }}">{{ nav.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
    </div>
    <div id="change-skin" title="Toggle Night Mode">
      <label class="theme-switch" for="checkbox">
      <input type="checkbox" id="checkbox" />
      <div class="slider round">
      <span class="skin-btn dark-mode">🌙</span>
      <span class="skin-btn light-mode">☀️</span></div>
    </label>
    </div>
  <!-- {% if site.avatar and page.show-avatar != false %}
  <div class="avatar-container">
    <div class="avatar-img-border">
      <a href="{{ '' | absolute_url }}">
        <img alt="Navigation bar avatar" class="avatar-img" src="{{ site.avatar | relative_url }}" />
      </a>
    </div>
  </div>
  {% endif %} -->

</nav>